X3DCanvas {
  .x_ite-private-splash-screen {
    display: none;
    z-index: 100;
    position: absolute;
    inset: 0;
    background: #000000;
  }

  .x_ite-private-spinner {
    position: absolute;
    top: calc(50% - (200px / 2));
    left: calc(50% - (138px / 2));
    width: 138px;
    height: 49px;
    background: url("/./assets/img/bxlogo.gif") no-repeat;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }


  .x_ite-private-progress {
    position: absolute;
    top: calc(50% - 28pt - 11pt);
    left: calc(50% - 100px);
    width: 200px;
  }

  .x_ite-private-x_ite {
    display: none;
    color: white;
    font-size: 28pt;
    text-align: center;
    text-shadow: 1px 1px 0 black;
    font-family: PT Sans, sans-serif;
  }

  .x_ite-private-x_ite span.x_ite-private-x3d {
    display: none;
    font-weight: bold;
  }

  .x_ite-private-spinner-text {
    color: white;
    font-size: 11pt;
    text-align: center;
    text-shadow: 1px 1px 0 black;
    font-family: PT Sans, sans-serif;
  }

  .x_ite-private-progressbar {
    margin: 8px;
    border-left:  2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0 2px;
    text-align: left;
  }

  .x_ite-private-progressbar div {
    width: 0%;
    height: 6px;
    background: rgba(255, 255, 255, 0.5);
  }
}

